@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@300;400;500&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');


body{
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
}

.main_banner{
    background: url("../images/main_banner.png") no-repeat;
    background-size: cover;
    background-position: top center;
    width: 100%;
    min-height: 100vh;
    display: block;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    padding: 7px 0;
    z-index: 999;
}

header.sticky{
    background-color: #ffffff;
}

header.sticky .navbar-brand{
    background: url("../images/logo.png") no-repeat;
}

.navbar-brand{
    background: url("../images/short_logo.png") no-repeat;
    display: block;
    width: 165px;
    height: 45px;
}


.nav-link{
    color: #fff !important;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    padding: 0 25px !important;
}

header.sticky .nav-link{
    color: #414f6b !important;
}

.slider_section{
    background: url("../images/second_banner.png") no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: block;
}

.schedule_section{
    background: url("../images/thired_banner.png") no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: block;
    position: relative;
}

footer{
    width: 100%;
    background-color: #414f6b;
    position: absolute;
    bottom: 0;
    padding: 15px 0 10px 0;
}

.navbar-brand-footer{
    background: url("../images/gray_logo.png") no-repeat;
    display: inline-block;
    width: 165px;
    height: 45px;
}

.footer_text{
    float: right;
    margin: 0 !important;
    padding: 13px 0;
    color: #63769d;
}

.number_description{
    background-color: #fff;
    margin-top: 76px;
    display: inline-block;
    width: 100%;
}

.number_description span {
    font-size: 200px;
    font-family: 'Bebas Neue', sans-serif;
    position: relative;
    color: #414f6b94;
    margin-right: 70px;
    line-height: 200px;
}

.number_description span small {
    font-size: 50px;
    position: absolute;
    bottom: 65px;
    right: -31px;
    color: #414f6b;
    line-height: 75px;
}

.number_description .inline{
    
    display: inline-block;
    width: 50%;
    position: relative;
    top: -50px;

}